@import url('https://fonts.googleapis.com/css2?family=Crimson+Text');

html {
  font-family: 'Crimson Text';
}
h1, h2, h3 {
  color: rgb(28, 28, 38);
  text-align: center;
  min-width: 700px;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 200;
}
body {
  background: rgb(220,187,255);
  background: linear-gradient(75deg, rgba(220,187,255,1) 20%, rgba(244,149,235,1) 40%, rgba(255,241,50,1) 65%, rgba(190,255,79,1) 100%);
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(48, 48, 58);
  letter-spacing: 1px;
  font-size: 0.8rem;
  table-layout: fixed;
}
td, th {
  color: rgb(244, 233, 247);
  border: 1px solid rgb(58, 58, 68);
  padding: 5px;
  text-align: center;
}
th {
  background: rgb(18, 18, 28);
}
tr:nth-child(even) td {
  background: rgb(38, 38, 48);
}
tr:nth-child(odd) td {
  background: rgb(28, 28, 38);
}
ul {
overflow: hidden;
display: inline-block;
padding: 5px;
vertical-align: top;
margin-top: 5px;
}
li {
  margin-left: 12px;
  text-align: left;
}
.col2 {
  min-width: 300px;
}